 # Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
env/
myimg/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore dataset files
data/dataset/

# Ignore large model files
*.ckpt

