.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.full-screen-bg {
  min-height: 100vh; /* Ensure at least full screen */
  background-color: #CACDD2; /* A light background for non-dark mode */
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode .navbar {
  background-color: #000 !important; /* Force darker navbar if you prefer */
}

/* For better spacing on vertical columns */
.mb-4 {
  margin-bottom: 1.5rem !important;
}
.ms-2 {
  margin-left: 0.5rem !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
